/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// End CSS reset

// Anchor removal of decoration
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

//

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Background color -> rgba(255, 255, 255, 0.87)  Tailwind chosen value: bg-zinc-100 #f4f4f5
// Text color ->  rgb(27, 18, 18) Tailwind chosen value: text-slate-950 #020617

* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

* ::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.nav-shadow {
  box-shadow:
    0 9px 0px 0px #fff,
    //0 -9px 0px 0px #fff,
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
  //-12px 0 15px -4px #fff;
  // --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  // --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  // box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap");

#raullorenzo {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
}

@layer components {
  // .nav-item {
  //   @apply relative flex items-center justify-center h-12 w-44 mx-auto
  //  hover:bg-slate-950
  //  hover:text-zinc-100
  //   rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  // }

  .nav-item {
    @apply relative flex items-center justify-center h-12 w-44 mx-auto
    hover:transition-all duration-200 ease-linear cursor-pointer;
  }

  .nav-item .active {
    @apply font-bold rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }
}

html {
  //overflow-y: scroll;
  scroll-behavior: smooth;
  //overscroll-behavior: contain;
}

:root {
  font-family: "Arimo", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  //color: rgba(255, 255, 255, 0.87);
  color: #020617;
  //background-color: #e0e0e0;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  //color: #646cff;
  //color:#020617;
  text-decoration: none;
}
// a:hover {
//   color: #535bf2;
// }

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overscroll-behavior: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
// button:hover {
//   border-color: #646cff;
//}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav-item .active {
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  // a:hover {
  //   color: #747bff;
  // }
  button {
    background-color: #f9f9f9;
  }
}

// Responsive font sizes

// Tailwind:
// text-2xl sm:text-4xl lg:text-5xl
// text-[min(12vw,2.5rem)]

//@apply px-4 py-2 font-semibold text-white bg-blue-500 rounded hover:bg-blue-600;

// +++ Important Note +++
//
// Tailwind CSS doesn't support dynamic values directly in class names, so here a memo of the responsive font strategy. The Tailwind classes here will be implemented without being encapsulated in CSS classes (Ex <p className = text-[min(4vw,1rem)]>Hello there> ). Leaving the unused css classes here for a future better workaround.

// .baseText {
//  @apply text-[min(0.80vw,1rem)] leading-7;
// }

// .artworkLabel {
//   @apply text-[min(4vw,1rem)] leading-6;
//  text-[min(0.80vw,1rem)] leading-6
//
// }

//.cvTitle {
//   @apply text-[min(2.0vw,2.25rem)];
//  //It was text-4xl 2.25rem
// }

// .essayTitle {
//   @apply text-[min(2.0vw,2.25rem)];
//  //It was text-4xl 2.25rem
// }

// .asideNavlink{
//   @apply text-[min(0.95vw,1rem)]
// }

// .headerNavlink {
//   @apply text-[min(6vw,1.50rem)];
// }

// .artworkTitle {
// @apply text-[min(2.50vw,3.50rem)] leading-[3rem]
// }

// .documentTitle {
// text-[min(2.0vw,2.25rem)];
// }

// .mainTopNavLinks {
// text-[min(1.2vw,1.25rem)]
//}

// writingsBaseText {
  //text-[min(0.95vw,1rem)] leading-5 
// }

// leading-normal
// leading-relaxed
